<h1>Bienvenido a la creación de urls cortas</h1>
<p>Ingresa una url</p>
<form action="/urls" method="post">
  <input type="text" name="word_url" placeholder= "url"><br><br>
  <input type="submit">
</form>

<div class = "box">
  <a href="/login"><button id="login" type="button">Login</button></a><br>
</div>

<div class = "box">
  <a href="/register"><button id="register" type="button">Registrarse</button></a>

</div>
<p>Si te registras podrás ver el historal de urls que creaste y cúantas visitas has tenido.</p>
<br><br><br><br>




  


  
